/* ----------- Styling----------- */
*{
	box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
	
input{
display: none;
}
	
h1{
color: #000; 
font-family: "Playfair Display", Helvetica, Arial, sans-serif;
border-bottom: 2px solid #f97e3b; /*orange*/
	}
	

/* Top Navigation - http://www.cssscript.com/pure-css-mobile-compatible-responsive-dropdown-menu/
--------------------------------------------- */
nav {
margin: 0;
padding: 0;
background-color: #3D1D32;/*burgundy*/
}

nav img{
	display: none;
}

nav label{
	display: none;
}

#logo{
display:block;
width:350px;
height:195px;
background:url(img/logo.png) no-repeat;
white-space: nowrap;
overflow: hidden;
}

nav:after {
content: "";
display: table;
clear: both;
}

nav ul {
float: right;
padding: 0;
margin: 0;
list-style: none;
position: relative;
}

nav ul li {
margin: 0px;
display: inline-block;
float: left;
background-color: #3D1D32;/*burgundy*/
}

nav a {
display: block;
padding: 0 20px;
color: #FFF;
font-size: 18px;
line-height: 60px;
text-decoration: none;
}

nav ul li ul li:hover { background-color: #5E9732; } /*green*/

nav ul ul {
display: none;
position: absolute;
top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
width: 170px;
float: none;
display: list-item;
position: relative;
}

nav ul ul ul li {
position: relative;
top: -60px;
left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content:''; }


/* Main Content & Sidebar (Aside)
--------------------------------------------- */
section{
	float: right;
	width: 63.1%;
	margin: 1.9%;
	padding-top: 5px 0;
}

section p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
}

section img{
	width: 100%;
}

aside{
	float: right;
	width: 28.4%;
	line-height: 125%;
	font-size: 12px;
	padding: 10px 0;
	margin: 10px 0;
	border-right: 3px dotted #C54907;
}

aside h3{
	font-size: 16px;
}

aside ul{
	list-style-type: none;
	margin: 0 1px;
	padding: 0 1px;
	overflow: hidden;
}

aside address{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

figcaption{
	font-size: 9px;
	font-family: Arial, sans-serif;
	line-height: 55%;
	margin-bottom: 10px;
}


/* Footer
--------------------------------------------- */
footer {
	background-color: #000066; /*dark blue*/
	border-top: 2px solid #f97e3b; /*orange*/
  width: 100%;
  padding-bottom: .75em;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	clear:both;
 }
 
footer nav a:hover { background-color: #5E9732; } /*green*/
 



/* ----------- Mobile Styling----------- */

/* Media for smaller devices */
 @media all and (max-width: 480px) {
/*.container {
width: 100%;
}*/
	  
h1{
color: #000066; /*dark blue*/;
font-family: "Playfair Display", Helvetica, Arial, sans-serif;
font-size: 18px;
text-align: center;
margin: 3%;
padding: 3%;
border-bottom: 2px solid #f97e3b; /*orange*/
}

#logo{
	display: block;
	padding: 0;
	width: 100%;
	float: none;
}

section {
display: block;
width: 94%;
}

aside {
display: block;
width: 94%;
border: none;
}

nav{
	margin: 0;
}

.toggle + a, .menu{
	display: none;
}

.toggle{
	display: block;
	padding: 0 20px;
	color: white;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
	border: none;
}

.toggle:hover{
	background-color: #5E9732;/*green*/
}

[id^=drop]:checked + ul { display:block;}

nav ul li{
	display: block;
	width: 94%;
}

nav ul ul .toggle, nav ul ul a{
	padding: 0 40px;
}

nav ul ul ul a{
	padding: 0 80px;
}

nav a:hover, nav ul ul ul a{
	background-color: #3D1D32;/*burgundy*/
}

nav ul ul{
	float: none;
	position: static;
	color: #ffffff;
}

nav ul ul li:hover > ul, nav ul li:hover > ul{
	display: none;
}

nav ul ul ul li {
	position: static;
}
}


/* ----------- Laptop Styling----------- */

 @media screen and (max-width: 640px) {
	 
h1{
 	color: #000066; /*dark blue*/;
 	font-family: "Playfair Display", Helvetica, Arial, sans-serif;
 	border-bottom: 2px solid #f97e3b; /*orange*/
}	

nav{
	margin: 0;
}

.toggle + a, .menu{
	display: none;
}

.toggle{
	display: block;
	padding: 0 20px;
	color: white;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
	border: none;
}

.toggle:hover{
	background-color: #5E9732;/*green*/
}

[id^=drop]:checked + ul { display:block;}

nav ul li{
	display: block;
	width: 100%;
}

nav ul ul .toggle, nav ul ul a{
	padding: 0 40px;
}

nav ul ul ul a{
	padding: 0 80px;
}

nav a:hover, nav ul ul ul a{
	background-color: #3D1D32;/*burgundy*/
}

nav ul ul{
	float: none;
	position: static;
	color: #ffffff;
}

nav ul ul li:hover > ul, nav ul li:hover > ul{
	display: none;
}

nav ul ul ul li {
	position: static;
}
}

/*MODERNIZER DOCUMENTATION - https://modernizr.com/ */

.no-cookies .box { color: red; } /*Detects whether cookie support is enabled.*/
.cookies .box { color: green; }


.no-mediaqueries .box { color: red; } /*Detects whether box sizing supported*/
.mediaqueries .box { color: green; }


.no-boxsizing .box { color: red; } /*This propriety allows you to switch between box models.*/
.boxsizing .box { color: green; }




