/* MOBILE */
@media screen and (min-width: 320px){
	#header{
		background-color: black;
		color: white;
		text-align: center;
		padding: 5px;
	}
	
	#nav{
		line-height: 30px;
		background-color: pink;
		height: 300px;
		width: 150px;
		float: left;
		padding: auto;
	}
	
	#nav li{
		text-decoration: none;
		text-align: left;
		list-style-type: none;
		display: block;
	}
	
	#section{
		width: 350px;
		float: left;
		padding: 5px;
	}
	
	#footer{
		background-color: black;
		color:white;
		clear: both;
		text-align: center;
		padding: 5px;
	}
}